footer {
  display: flex;
  padding: 50px;
  flex-direction: column;
  gap: 30px;
  box-shadow: 0 -7px 10px rgba(0, 0, 0, 0.15);
}

footer .logo {
  width: 300px;
}

footer p {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
}

footer address,
footer .end {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer address {
  gap: 20px;
}

footer .end {
  gap: 10px;
}

footer .social {
  display: flex;
  gap: 10px;
}

footer .social img {
  width: 40px;
  padding: 10px;
  border-radius: 100px;
  background-color: var(--main);
}

hr {
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, .5);
  margin: 0;
}

footer small {
  font-size: .75rem;
  text-align: center;

  display: flex;
  gap: 10px;
}

small a {
  text-transform: capitalize;
}